<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>
  <h1>Welcome to Sking Diesease Profile Page</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    Image Upload: <input type="file" name="uploadImage"><br>
    <button type="submit">submit</button>
  </form>

  <hr>

  <div>
    {% if img %}
      <img src="{{ img.url }}">
    {% endif %}
  </div>
  
</body>
</html>