<!DOCTYPE html>
<html>
<head>
  <title>Skin Disease Diagnosis</title>
  <style>
    .container {
      font-family: sans-serif;
      margin-left: 120px;
      margin-right: 120px;
      background-color: #fff;
    }

    input[type="text"],
    input[type="password"] {
      padding: 5px;
      margin: 5px 0;

    }   
    button {
      background-color: #048d07;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Welcome to Skin Disease Diagnosis Page!!!</h1>
    <hr>
    <div>
      <h2>Sign up</h2>
      <form>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <label for="password_confirmation">Password confirmation:</label><br>
        <input type="password" id="password_confirmation" name="password_confirmation" required><br><br>

        <button type="submit">Sign up</button>
      </form>
    </div>
    <hr>
  </div>
</body>
</html>